/*
	Name: Christian Maglalang
    Student Number: 100911001
	File: INFT 1206 Assignment 3 Part 3
	Date: February 23, 2024
	Description: Use CSS techniques to design an imaginary community college webpage.
*/

/* General setup */

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
}

/* Layout */

section {
    float: left;
    width: 50%;
}

aside {
    float: left;
    width: 30%;
}

nav {
    float: left;
    width: 20%;
}

footer {
    clear: both;
}

header, section, aside, nav, footer {
    padding: 20px;
}

/* header and footer */

header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
    line-height: 150%;
    letter-spacing: normal;
    word-spacing: 3px;
}

h1, h2 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
}

h1 {
    font-size: 30px;
    text-align: center;
}

h2, nav {
    font-size: 20px;
}

section {
    h2 + p {
        text-indent: 20px;
    }
}

a {
    text-decoration: underline;
    outline: none;
}

a:visited {
    color: #a66;
}

a:focus, a:hover {
    color: #a66;
    text-decoration: none;
}

a:active {
    color: darkred;
}

a[href^="http"] {
    background: url("external-link-52.png") no-repeat 100% 0;
    background-size: 16px 16px;
    padding-right: 19px;
}

ul {
    line-height: 150%;
    list-style-type: disc;
}

nav {
    li {
        list-style-type: none;
        border: 3px solid #a66;
        text-align: center;
        padding: 10px;
        margin: 10px;
    }
}